<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head> 
        <title>Getting Started: Handling Form Submission</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Form</h1>
        <form action="#" th:action="@{/login}" th:object="${udto}" method="post">
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <p>Password: <input type="text" th:field="*{password}" /></p>
            <p>Create New: <input type="checkbox" th:field="*{create}" /></p>    
            <p>Create Admin: <input type="checkbox" th:field="*{admin}" /></p>    
            <p><input type="submit" value="Login" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>