<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Admin Panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p> Hi <span th:text= " ${name} "/>
            <p> There are
                <span th:text=" ${list.size()>0 ? 'some' : 'not'}" /> suspicious messages
            </p>    
            <div><p>Here Are Messages</p>
                <!---form action="#" th:action="@{/verified}" th:object="${output}" method="post"--->
                <ul>
                    <li th:each="msg : ${list}">
                        <span th:text="${msg.message} + ' by ' + ${msg.userName}">message text</span>
                        <form action="#" th:action="@{/verified(id=${msg.message})}" method="post">
                            <input type="submit" value="It is OK" />
                        </form>
                        <form action="#" th:action="@{/verified(id=${msg.message}, ban=true)}" method="post">
                            <input type="submit" value="Send Warning" />
                        </form>
                    </li>
                </ul>
                <div>
                    <input type="submit" value="Done" />
                </div>
                <a href="/login"> <button>  Logout </button>  </a>
            </div>
        </div>
    </body>
</html>
