<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <p>

        <p th:if="${admin}" th:text= "'You have admin rights, '  + ${name} " />
        <p th:unless="${admin}" th:text= "'Hello '  + ${name} " />
        <p th:if="${banned}" th:text="'You Are Banned!!!'" />
        <div> Your Messages:
            <table>
                <tr th:each="message : ${messages}">
                    <td th:text="${message.createTime}"></td>
                    <td th:text="${message.message}"></td>
                </tr>
            </table>
        </div>
        <div th:unless="${banned}">
            <h1>New Message:</h1>
            <form action="#" th:action="@{/addMessage}" th:object="${newMessage}" method="post">
                <p>Name: <input type="text" th:field="*{message}" /></p>       
                <p><input type="submit" value="Post Message" /> <input type="reset" value="Clear Message" /></p>
            </form>
        </div> 
        <a th:if="${admin}" href="/mod"> <button>  Mod </button>  </a>
        <a href="/login"> <button>  Logout </button>  </a>

    </body>
</html>
